@model QuoteSearchModel

@inject IStoreService storeService
@using Nop.Services.Stores

@{
    //page title
    ViewBag.PageTitle = T("Admin.Quote").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Orders");
}

@{
    const string hideSearchBlockAttributeName = "OrdersPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<form asp-controller="Order" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Quote")
        </h1>
        <div class="float-right">
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fas fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-item">
                        <button type="button" id="exportxml-selected">
                            <i class="far fa-file-code"></i>
                            @T("Admin.Common.ExportToXml")
                        </button>
                    </li>

                    <li class="dropdown-item">
                        <button type="button" id="exportexcel-selected">
                            <i class="far fa-file-excel"></i>
                            @T("Admin.Common.ExportToExcel")
                        </button>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info" id="pdf-quote-selected">
                    <i class="far fa-file-pdf"></i>
                    @*@T("Admin.Quotes.PdfQuotes")*@
                        @T("Admin.Quotes.PdfQuotes")
                </button>
                <!--<button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">-->
                    @*<li class="dropdown-item">
                        <button asp-action="PdfQuoteAll" type="submit" name="pdf-quotes-all">
                            @T("Admin.Quotes.PdfQuotes.All")
                        </button>
                    </li>*@
                    <!--<li class="dropdown-item">
                        <button type="button" id="pdf-quote-selected">
                            @T("Admin.Quotes.PdfQuotes.Selected")
                        </button>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>

                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="StartDate" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="StartDate" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="EndDate" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="EndDate" />
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="ProductId" />
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="search-product-name" autocomplete="off" class="form-control" />
                                                <span id="search-product-friendly-name"></span>
                                                <button type="button" id="search-product-clear" class="btn bg-gray" style="display: none; margin-top: 5px;">@T("Admin.Common.Clear")</button>
                                                <input asp-for="ProductId" autocomplete="off" style="display: none;" />
                                                <script>
                                                $(document).ready(function() {
                                                    $('#search-product-name').autocomplete({
                                                        delay: 500,
                                                        minLength: 3,
                                                        source: '@Url.Action("SearchAutoComplete", "SearchComplete")',
                                                        select: function(event, ui) {
                                                            $('#@Html.IdFor(model => model.ProductId)').val(ui.item.productid);
                                                            $('#search-product-friendly-name').text(ui.item.label);

                                                            $('#search-product-clear').show();
                                                            return false;
                                                        }
                                                    });

                                                    //remove button
                                                    $('#search-product-clear').click(function() {
                                                        $('#@Html.IdFor(model => model.ProductId)').val('0');
                                                        $('#search-product-friendly-name').text('');
                                                        $('#search-product-clear').hide();
                                                        return false;
                                                    });
                                                });
                                                </script>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group row" @(Model.AvailableVendors.SelectionIsNotPossible() || Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                            <div class="col-md-4">
                                                <nop-label asp-for="VendorId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="VendorId" asp-items="Model.AvailableVendors" />
                                            </div>
                                        </div>

                                        <div class="form-group row" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                            <div class="col-md-4">
                                                <nop-label asp-for="OrderStatusIds" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="OrderStatusIds" asp-items="Model.AvailableOrderStatuses" asp-multiple="true" />
                                            </div>
                                        </div>

                                      
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="GoDirectlyToCustomQuoteNumber" />
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group input-group-short">
                                                    <nop-editor asp-for="GoDirectlyToCustomQuoteNumber" />
                                                    <span class="input-group-append">
                                                        <button type="button" id="go-to-quote-by-number" name="go-to-quote-by-number" onclick="GotoQuote()" class="btn btn-info btn-flat">
                                                            @T("Admin.Common.Go")
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-quotes" class="btn btn-primary btn-search">
                                            <i class="fas fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-body">
                            <nop-doc-reference asp-string-resource="@T("Admin.Documentation.Reference.Orders", Docs.Orders + Utm.OnAdmin)" />

                            @{
                                var gridModel = new DataTablesModel
                                {
                                    Name = "quotes-grid",
                                    UrlRead = new DataUrl("QuoteList", "Quote", null),
                                    SearchButtonId = "search-quotes",
                                    Length = Model.PageSize,
                                    LengthMenu = Model.AvailablePageSizes,
                                    FooterCallback = !Model.IsLoggedInAsVendor ? "ordersfootercallback" : null,
                                    FooterColumns = !Model.IsLoggedInAsVendor ? 6 : 0,
                                    Filters = new List<FilterParameter>
                                                        {
                                        new FilterParameter(nameof(Model.StartDate), typeof(DateTime?)),
                                        new FilterParameter(nameof(Model.EndDate), typeof(DateTime?)),
                                        new FilterParameter(nameof(Model.OrderStatusIds)),
                                        new FilterParameter(nameof(Model.VendorId)),
                                        new FilterParameter(nameof(Model.ProductId))
                                    }
                                };
                                gridModel.ColumnCollection = new List<ColumnProperty>
                                                    {
                                    new ColumnProperty(nameof(QuoteModel.Id))
                                    {
                                        IsMasterCheckBox = true,
                                        Render = new RenderCheckBox("checkbox_quotes"),
                                        ClassName =  NopColumnClassDefaults.CenterAll,
                                        Width = "50"
                                    },
                                    new ColumnProperty(nameof(QuoteModel.CustomQuoteNumber))
                                    {
                                        Title = T("Admin.Quote.Fields.CustomQuoteNumber").Text,
                                        Width = "80"
                                    }
                                };
                                //a vendor does not have access to this functionality
                                if (!Model.IsLoggedInAsVendor)
                                {
                                    gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuoteModel.QuoteStatus))
                                    {
                                        Title = T("Admin.Quote.Fields.QuoteStatus").Text,
                                        Width = "100",
                                        Render = new RenderCustom("renderColumnOrderStatus")
                                    });
                                }
                               
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuoteModel.CustomerEmail))
                                {
                                    Title = T("Admin.Orders.Fields.Customer").Text,
                                    Render = new RenderLink(new DataUrl("~/Admin/Customer/Edit", nameof(QuoteModel.CustomerId)))
                                });
                                
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(OrderModel.CreatedOn))
                                {
                                    Title = T("Admin.Orders.Fields.CreatedOn").Text,
                                    Width = "120",
                                    Render = new RenderDate()
                                });
                                
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(QuoteModel.QuoteGuid))
                                {
                                    Title = T("Admin.Common.View").Text,
                                    Width = "50",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonView(new DataUrl("Messenger"))
                                });
                            }

                            @await Html.PartialAsync("Table", gridModel)

                            <script>
                            function renderColumnOrderStatus(data, type, row, meta) {
                                var color;
                                switch (row.QuoteStatusId) {
                                case 10:
                                    color = 'yellow';
                                    break;
                                case 20:
                                    color = 'blue';
                                    break;
                                case 30:
                                    color = 'green';
                                    break;
                                case 40:
                                    color = 'red';
                                        break;
                                case 50:
                                        color = 'gray';
                                        break;
                                case 60:
                                        color = 'pink';
                                    break;
                                }
                                return '<span class="grid-report-item ' + color + '">' + data + '</span >';
                            }

                            $(document).ready(function() {
                                $("#@Html.IdFor(model => model.GoDirectlyToCustomQuoteNumber)").keydown(
                                    function(event) {
                                        if (event.keyCode === 13) {
                                            $("#go-to-quote-by-number").click();
                                            return false;
                                        }
                                    });
                            });
                            function ordersfootercallback(tfoot, data, start, end, display) {
                                //update order totals summary
                                var postData = {
                                    StartDate: $('#@Html.IdFor(model => model.StartDate)').val(),
                                    EndDate: $('#@Html.IdFor(model => model.EndDate)').val(),
                                    OrderStatusIds: $('#@Html.IdFor(model => model.OrderStatusIds)').val(),
                                    VendorId: $('#@Html.IdFor(model => model.VendorId)').val(),
                                    ProductId: $('#@Html.IdFor(model => model.ProductId)').val()
                                };
                                addAntiForgeryToken(postData);

                            }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@*export selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="Quote" asp-action="ExportXmlSelected" method="post" id="export-xml-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>
    $(document).ready(function () {
        $('#exportxml-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            if (!ids) {
                $('#exportXmlSelected-info').text("@T("Admin.Quotes.NoQuotes")");
                $("#exportXmlSelected").click();
            }
            else {
                $('#export-xml-selected-form #selectedIds').val(ids);
                $('#export-xml-selected-form').submit();
                updateTable('#quotes-grid');
            }
            return false;
        });
    });
</script>
<nop-alert asp-alert-id="exportXmlSelected" />

@*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="Quote" asp-action="ExportExcelSelected" method="post" id="export-excel-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>
    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
             if (!ids) {
                $('#exportExcelSelected-info').text("@T("Admin.Quotes.NoQuotes")");
                $("#exportExcelSelected").click();
            }
            else {
                $('#export-excel-selected-form #selectedIds').val(ids);
                $('#export-excel-selected-form').submit();
                updateTable('#quotes-grid');
            }
            return false;
        });
    });
</script>
<nop-alert asp-alert-id="exportExcelSelected" />

@*Print packaging slips selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="Quote" asp-action="PdfQuoteSelected" method="post" id="pdf-quote-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>
    $(document).ready(function () {
        $('#pdf-quote-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
           if (!ids) {
                $('#pdfQuoteSelected-info').text("@T("Admin.Quotes.NoQuotes")");
                $("#pdfQuoteSelected").click();
            }
            else {
                $('#pdf-quote-selected-form #selectedIds').val(ids);
                $('#pdf-quote-selected-form').submit();
                updateTable('#quotes-grid');
            }
            return false;
        });
    });

    function GotoQuote() {
        var quoteNo = $("#@Html.IdFor(model => model.GoDirectlyToCustomQuoteNumber)").val();
        $.ajax({
            url: '@Url.Action("GetQuoteGuid", "Quote")',
            type: "GET",
            data: { CustomeQuoteNumber: quoteNo },
            success: function (response) {
                if (response.success) {
                    if (response.data != "-1") {
                        location.href = "Messenger/" + response.data;
                    }
                }
                else {
                    displayPopupNotification(response.message, 'error', 3000);
                }
            }
        });
    }

</script>
<nop-alert asp-alert-id="pdfQuoteSelected" />