@model ContactUsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h1>@T("PageTitle.ContactUs")</h1>
    </div>
    <div class="center">
        <div class="two-columns-area-left">

            <div class="page-body" style="text-align: left;">
                <div class="topic-block">
                    <div class="topic-block-title">
                    </div>
                    <div class="topic-block-body">
                        <h2>
                            OUR ADDRESS
                        </h2>
                    </div>
                </div>

                <p style="margin-left: 20px; margin-top: 30px;">Office 910, Yes Business Center, Barsha 1, Dubai, United Arab Emirates</p>

                <ul class="list" style="margin-left: 50px; margin-top: 20px; list-style-type: disc !important">
                    <li class="email"><a href="mailto:info@equiphound.com"> <span class="fa fa-bell">info@equiphound.com</span> </a></li>
                    <li class="phone"><span>+971-4-551-6795</span></li>
                    <li class="phone"><span>+971-55-475-8499</span></li>
                </ul>

                <h3 style="margin-left:20px;margin-top:30px;"><span style="font-size:12pt">HELPLINE</span></h3>

                <ul class="list" style="margin-left: 50px; margin-top: 20px; margin-bottom: 40px; list-style-type: disc !important ">
                    <li><span class="elementor-icon-list-text">+971-55-475-8499</span></li>
                </ul>


            </div>

        </div>
        <div class="two-columns-area-right">
            <div class="page-body" style="max-width:100% !important;">
                <div class="topic-block">
                    <div class="topic-block-title">
                    </div>
                    <div class="topic-block-body">
                        <h2>
                            GET IN TOUCH!
                        </h2>
                    </div>
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsTop })
                @if (Model.SuccessfullySent)
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                else
                {
                    <form asp-route="ContactUs" method="post">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="fieldset">
                            <div class="form-fields">

                                <div class="inputs">
                                    <label asp-for="CompanyName" asp-postfix=":">Company Name</label>
                                        <input asp-for="CompanyName" placeholder="Enter Your Company  Name" class="fullname" />
                                        <nop-required />
                                        <span asp-validation-for="CompanyName"></span>
                                    </div>

                                <div class="inputs">
                                    <label asp-for="FullName" asp-postfix=":"></label>
                                    <input asp-for="FullName" placeholder="@T("ContactUs.FullName.Hint")" class="fullname" />
                                    <nop-required />
                                    <span asp-validation-for="FullName"></span>
                                </div>

                                @*<div class="inputs">
                                        <label asp-for="PhoneNumber" asp-postfix=":"></label>
                                        <input asp-for="PhoneNumber" placeholder="@T("ContactUs.FullName.Hint")" class="fullname" />
                                        <nop-required />
                                        <span asp-validation-for="PhoneNumber"></span>
                                    </div>*@

                                <div class="inputs">
                                    <label asp-for="Email" asp-postfix=":"></label>
                                    <input asp-for="Email" placeholder="@T("ContactUs.Email.Hint")" class="email" />
                                    <nop-required />
                                    <span asp-validation-for="Email"></span>
                                </div>


                                <div class="inputs">
                                    <label asp-for="Subject" asp-postfix=":"></label>
                                    <input asp-for="Subject" placeholder="@T("ContactUs.Subject.Hint")" class="subject" />
                                    <nop-required />
                                    <span asp-validation-for="Subject"></span>
                                </div>

                                <div class="inputs">
                                    <label asp-for="Enquiry" asp-postfix=":"></label>
                                    <textarea asp-for="Enquiry" placeholder="@T("ContactUs.Enquiry.Hint")" class="enquiry"></textarea>
                                    <nop-required />
                                    <span asp-validation-for="Enquiry"></span>
                                </div>
                                @if (Model.DisplayCaptcha)
                                {
                                    <nop-captcha />
                                }
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="submit" name="send-email" class="button-1 contact-us-button">@T("ContactUs.Button")</button>
                        </div>
                    </form>
                }
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })
            </div>

        </div>


    </div>
</div>
